<html ng-app="fiddleApp">
<head>
    <title>ngFiddle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">ngFiddle</a>
  <ul class="nav navbar-nav">
    <li ng-class="{active: gistId==8972289}"><a href ng-click="gistId=8972289;fetch()">Primitives</a></li>
    <li ng-class="{active: gistId==8973753}"><a href ng-click="gistId=8973753;fetch()">Strings</a></li>
    <li ng-class="{active: gistId==8975840}"><a href ng-click="gistId=8975840;fetch()">Booleans</a></li>
    <li ng-class="{active: gistId==8976378}"><a href ng-click="gistId=8976378;fetch()">Functions</a></li>
    <li ng-class="{active: gistId==8977139}"><a href ng-click="gistId=8977139;fetch()">Variable References</a></li>
    <li ng-class="{active: gistId==8976835}"><a href ng-click="gistId=8976835;fetch()">Variable Names</a></li>
    <li ng-class="{active: gistId==8978574}"><a href ng-click="gistId=8978574;fetch()">Scopes</a></li>
  </ul>
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="gistId" placeholder="ID of your Gist">
    </div>
    <button type="submit" class="btn btn-default" ng-click="fetch()">Load!</button>
  </form>
</nav>

<div class="editor-wrapper row">
    <div class="col-xs-12">
        <tabset>
            <tab ng-repeat="file in files">
                <tab-heading ng-bind="file.filename.toLowerCase()"></tab-heading>
                <div ui-ace="{ mode: file.language.toLowerCase(), onLoad: aceLoaded}" ng-model="file.content"></div>
            </tab>
        </tabset>
    </div>
</div>

<div class="execute-wrapper">
    <button class="btn btn-info form-control" ng-click="execute()">Run! (Cmd+Enter)</button>
</div>

<div class="result-wrapper">
  <iframe-result content="result"></iframe-result>
</div>

<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="application.js"></script>
</body>
</html>