<html ng-app="fiddleApp">
<head>
    <title>ngFiddle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.css"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="gh-fork-ribbon.ie.css">
    <![endif]-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">

<div class="github-fork-ribbon-wrapper right-bottom">
    <div class="github-fork-ribbon">
        <a href="https://github.com/angularjs-de/angular-fiddle">Fork me on GitHub</a>
    </div>
</div>

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">ngFiddle</a>
  <ul class="nav navbar-nav">
    <li ng-class="{active: gistId==8972289}"><a href ng-click="gistId=8972289;fetch()" analytics-on="click">Primitives</a></li>
    <li ng-class="{active: gistId==8973753}"><a href ng-click="gistId=8973753;fetch()" analytics-on="click">Strings</a></li>
    <li ng-class="{active: gistId==8975840}"><a href ng-click="gistId=8975840;fetch()" analytics-on="click">Booleans</a></li>
    <li ng-class="{active: gistId==8976378}"><a href ng-click="gistId=8976378;fetch()" analytics-on="click">Functions</a></li>
    <li ng-class="{active: gistId==8977139}"><a href ng-click="gistId=8977139;fetch()" analytics-on="click">Variable References</a></li>
    <li ng-class="{active: gistId==8976835}"><a href ng-click="gistId=8976835;fetch()" analytics-on="click">Variable Names</a></li>
    <li ng-class="{active: gistId==8978574}"><a href ng-click="gistId=8978574;fetch()" analytics-on="click">Scopes</a></li>
  </ul>
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="gistId" placeholder="ID of your Gist">
    </div>
    <button type="submit" class="btn btn-default" ng-click="fetch()" analytics-on="click" analytics-event="Load-Gist-{{gistId}}">Load!</button>
  </form>
</nav>

<div class="editor-wrapper row">
    <div class="col-xs-12">
        <tabset>
            <tab ng-repeat="file in files">
                <tab-heading ng-bind="file.filename.toLowerCase()"></tab-heading>
                <div ui-ace="{ mode: file.language.toLowerCase(), onLoad: aceLoaded}" ng-model="file.content"></div>
            </tab>
        </tabset>
    </div>
</div>

<div class="execute-wrapper">
    <button class="btn btn-info form-control" ng-click="execute()" ng-disabled="!files" analytics-on="click" analytics-event="Run">Run! (Cmd+Enter)</button>
</div>

<div class="result-wrapper">
  <iframe-result content="result"></iframe-result>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39010393-2', { 'cookieDomain': 'none' });
</script>
<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="bower_components/angulartics/dist/angulartics.min.js"></script>
<script type="text/javascript" src="bower_components/angulartics/dist/angulartics-google-analytics.min.js"></script>
<script type="text/javascript" src="application.js"></script>
</body>
</html>