<html ng-app="fiddleApp">
<head>
  <title>Angular Fiddle</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <style>.ace_editor { height: 400px; max-width: 100%; }
  </style>
  <link rel="stylesheet" href="css/layout.css"/>
</head>
<body ng-controller="MainCtrl">

<p><input type="text" value="{{gist_url}}"></p>

<div class="row">
  <div class="col-xs-6">
    <tabset>
      <tab ng-repeat="file in files">
        <tab-heading ng-bind="file.filename.toLowerCase()"></tab-heading>
        <div ui-ace="{ mode: file.language.toLowerCase()}" ng-model="file.content"></div>
      </tab>
    </tabset>
  </div>
  <div class="col-xs-6" ng-click="execute()">
  output
  </div>
</div>

<iframe id="result"></iframe>



<script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script>
  var myAppModule = angular.module('fiddleApp', ['ui.ace', 'ui.bootstrap']);

  function MainCtrl($scope, $http){
    // https://api.github.com/gists/8961251
    $http.get('demo.json').then(function(res){
      console.log(res.data);
      $scope.gist_url = res.data.html_url
      $scope.files = res.data.files;

    });

    $http.get('template/iframe.env.html')
            .then(function(response){
               $scope.template = response.data;
            });

    $scope.execute = function(){
        var scriptContent = $scope.template;
        document.body.removeChild(document.getElementById('result'));

        var iframe = document.createElement("iframe");
        iframe.id = "result";
        document.body.appendChild(iframe);


        if(iframe.contentDocument) doc = iframe.contentDocument;
        else if(iframe.contentWindow) doc = iframe.contentWindow.document;
        else doc = iframe.document;



        var jscontent = "";
        angular.forEach($scope.files,function(file){
            if(file.language == "JavaScript"){
                jscontent += file.content;
            }
        });

        // TODO: Merge Files in ACE
        scriptContent = scriptContent.replace("###jscontent###",jscontent);


        doc.open();
        doc.writeln(scriptContent);
        doc.close();
    };
  }
</script>

</body>
</html>